{
    # Reduce Caddy's memory footprint: disable admin API and limit TLS session cache.
    admin off
    grace_period 10s
}

icedos.mirrors.knp.one {
    @upload {
        method PUT
        path /_api/v1/upload-path
    }

    handle @upload {
        reverse_proxy app:8080
    }

    handle {
        reverse_proxy unix//run/nginx/nginx.sock
    }
}
