icedos.mirrors.knp.one {
    @upload {
        method PUT
        path /_api/v1/upload-path
    }

    handle @upload {
        reverse_proxy app:8080
    }

    handle {
        reverse_proxy nar-cache:8080
    }
}
